/* Tổng thể layout */
.header{
    position: relative;

}

.table-container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 70px; /* Thêm margin để bảng không đè lên header */
  padding: 50px;
   position: absolute;
   flex-direction: column;
   border-left: 1px solid darkgray;
   
  top: 0;
  left: 18%;
}
/* Thêm styles cho form tìm kiếm */
.search-container {
  width: 90%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 200px;
}
.search-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.search-group {
  flex: 1;
}
.search-group label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}
.search-group input,
.search-group select {
  width: 70%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f8f8;
}
.search-group input:focus{
    outline:1px solid #0036d9;
    border: none;
}
.btn-search {
  background-color: #0041ff;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left :970px;
  margin-top: -90px;
  
}
.btn-search:hover {
  background-color: #0036d9;
}


  
  .custom-table {
    width: 90%;
    max-width: 1200px; /* Đặt giới hạn chiều rộng để bảng không quá dài */
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px; 
   
  }
  
  .table-header {
    background-color: #0B08AB;
    color: white;
    text-align: left;
    font-weight: bold;
  }
  
  .table-row {
    display: flex;
    /* align-items: center; */
    
  }
  
  .table-cell {
    flex: 1;
    padding: 14px 10px;
    
    /* border: 1px solid #ddd; */
    border: 1px solid #ddd;
    border-collapse: collapse;
  }
  
  /* Căn chỉnh các thao tác chỉnh sửa và xóa */
  .table-cell:last-child {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px; 
  }
  
  .status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .status.pending {
    background-color: #ffcf55;
    color: #fff;
  }
  
  .status.approved {
    background-color: #1ea849;
    color: #fff;
  }
  
  .edit-btn, .delete-btn {
    width: 24px;
    height: 24px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .fa-pen{
    color: #0B08AB;
   font-size: 20px;
   margin-right: 20%;
   cursor: pointer;
  }
  .fa-trash{
    color: #FA0707;
    font-size: 20px;
    cursor: pointer;
  }

  
  /* .edit-btn {
    background-image: url('/assets/icons/edit-icon.png'); 
  
  .delete-btn {
    background-image: url('/assets/icons/delete-icon.png'); 
  } */
  
  .edit-btn:hover, .delete-btn:hover {
    opacity: 0.8;
  }
  